<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Control de documentos electrónicos</display-name>
    <distributable/>
    <context-param>
        <param-name>configLocation</param-name>
        <param-value>/ftc/files/.config</param-value>
        <!--<param-value>C:\\ftc\\files\\.config</param-value>-->
    </context-param>
    <context-param>
        <param-name>logLocation</param-name>
        <param-value>/tmp/</param-value>
        <!--<param-value>C:\\tmp\\</param-value>-->
    </context-param>
    <context-param>
        <param-name>fileLocation</param-name>
        <param-value>/ftc/ftcgedoc/doce/</param-value>
        <!--<param-value>c:\\ftc\\ftcgedoc\\doce\\</param-value>-->
    </context-param>
    <context-param>
        <param-name>fileLocationCEP</param-name>
        <param-value>/ftc/ftcgedoc/doce/CEP/</param-value>
        <!--<param-value>c:\\ftc\\ftcgedoc\\doce\\CEP\\</param-value>-->
    </context-param>
    <context-param>
        <param-name>fileLocationExpenditure</param-name>
        <param-value>/ftc/ftcgedoc/doce/</param-value>
        <!--<param-value>C:\\ftc\\ftcgedoc\\doce\\</param-value>-->
    </context-param>
    <context-param>
        <param-name>urlSite</param-name>
        <param-value>http://50.63.128.151:8080/ftcgedoc/</param-value>
    </context-param>
    <context-param>
        <param-name>mailConfig</param-name>
        <param-value>/ftc/files/.mailconfig</param-value>
        <!-- <param-value>C:\\ftc\\files\\.mailconfig</param-value> -->
    </context-param>
    <servlet>
        <servlet-name>registrar.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.Personas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactos</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.Contactos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.ManageFileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manager.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.UsuariosManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizar.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.ContactosActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vistaprev</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.VistaPrevia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xdownload.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.DocumentosDescarga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gsecmod.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.GrupoSeguridad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>invoice.temp</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.UploadFileTemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>record.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.Expenditure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadfiles</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.UploadFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xpspersonas.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.ExpenditurePersonas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manage.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.ManejadorNotificaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statusmanager.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.ManejaDocumentoEstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verrfc.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.PersonasRFC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ucep.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.UploadCEP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>binddocs.do</servlet-name>
        <servlet-class>com.ftc.webcom.servlets.CEPEnlazaDocumentos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrar.do</servlet-name>
        <url-pattern>/ws/personas/registrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactos</servlet-name>
        <url-pattern>/ws/contactos/registrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/ws/files/upload.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manager.do</servlet-name>
        <url-pattern>/ws/xuser/manager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizar.do</servlet-name>
        <url-pattern>/ws/contactos/actualizar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vistaprev</servlet-name>
        <url-pattern>/vistaprev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xdownload.do</servlet-name>
        <url-pattern>/ws/files/xdownload.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gsecmod.do</servlet-name>
        <url-pattern>/ws/grupo/gsecmod.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>invoice.temp</servlet-name>
        <url-pattern>/ws/tmp/upload/invoice.temp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>record.do</servlet-name>
        <url-pattern>/ws/expenditure/record.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadfiles</servlet-name>
        <url-pattern>/uploadfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xpspersonas.do</servlet-name>
        <url-pattern>/ws/expenditure/xpspersonas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manage.do</servlet-name>
        <url-pattern>/ws/notifier/manage.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statusmanager.do</servlet-name>
        <url-pattern>/ws/status/statusmanager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verrfc.do</servlet-name>
        <url-pattern>/ws/personas/verrfc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ucep.do</servlet-name>
        <url-pattern>/ws/upload/ucep.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>binddocs.do</servlet-name>
        <url-pattern>/ws/files/binddocs.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>0</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
